<header id="home-hero" class="header">
  <div class="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <h1>Code for Charlotte is now Open Charlotte Brigade</h1>
          <hr/>
          <h3>Charlotte's center for civic innovation through design, data, education, and technology.</h3>
          <br>
          <a href="{{ site.open_clt_url }}" class="btn btn-dark btn-lg">Visit our New Site</a>
        </div>
      </div>
    </div>
  </div>
</header>
