<div class="row justify-content-between">
  <div class="col-6">
    <a href="/">
      <img id="openclt-logo" src="/img/logo.png" alt="Open Charlotte"/>
    </a>
  </div>
  <div class="col-6 top-right">
    <div>
      <button class="menu-button btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#primary-nav" aria-controls="primary-nav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i> Menu
      </button>
    </div>
  </div>
</div>
